project:
  output-dir: docs
  type: website
  resources:
    - "www/*"
    - './CNAME'
    - './riot.txt'
    - fonts/*

website:
  title: jmbuhr.de
  description: "Personal website of Jannik Buhr"
  favicon: ./www/favicon.png
  image: ./www/favicon.png
  site-url: https://jmbuhr.de
  repo-url: https://github.com/jmbuhr/jmbuhr.github.io
  repo-actions: [edit, issue]
  open-graph:
    title: "jmbuhr"
    description: "Personal website of Jannik Buhr"
    image: ./www/favicon.png
  page-navigation: true
  navbar:
    title: jmbuhr.de
    search: true
    logo: ./www/favicon.png
    right:
      - icon: github
        href: https://github.com/jmbuhr
      - icon: mastodon
        href: https://mastodon.online/@jmbuhr
      - icon: youtube
        href: https://www.youtube.com/@jmbuhr
      - icon: linkedin
        url: https://www.linkedin.com/in/jmbuhr/
      - text: "{{< fa brands bluesky >}}"
        url: https://bsky.app/profile/jmbuhr.de
    left:
      - text: "Blog"
        href: "./posts/"
      - text: "Teaching"
        href: "./teaching/"
  page-footer:
    left:
      - text: "License"
        href: "./license.qmd"
      - text: "Impressum"
        href: "./impressum.qmd"
      - text: "Thanks"
        href: "./contributors.qmd"
    center: |
      Powered by [Quarto](https://quarto.org).
    right: |
      License: [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0).
    border: true

format:
  html:
    code-tools:
      source: true
      toggle: true
    lang: en
    highlight-style: github-light
    code-copy: true
    code-link: true
    anchor-sections: true
    email-obfuscation: javascript
    theme:
      - default
      - theme.scss

comments:
  giscus: 
    repo: jmbuhr/jmbuhr.github.io
    theme: light

execute:
  freeze: auto

