/*-- scss:uses --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/*-- scss:defaults --*/






/*-- scss:rules --*/
.about-sidebar {
    height: fit-content;
}

.home img {
  border-radius: 10%;
  margin: 0 auto;
  object-fit: cover;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/*-- scss:mixins --*/
/*-- scss:functions --*/

