@font-face {
  font-family: 'Fira Code';
  src:  url('www/fira.ttf') format('ttf'),
}

@font-face {
  font-family: 'Roboto';
  src:  url('www/roboto.ttf') format('ttf'),
}


// catppuccin
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

/*-- scss:defaults --*/
$primary: $text !default;
$secondary: $base !default;
$body-bg: $base !default;
$body-color: $primary !default;
$link-color: $blue !default;
$link-hover-color: $sapphire !default;
$component-active-color: $sapphire !default;
$medium: $mantle !default;
$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;
$navbar-fg: $subtext1;
$font-family-sans-serif: "Roboto", "Sans", "sans-serif" !default;
$font-family-sans-monospace: "Fira Mono", "Mono" !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: $body-color;
}

a {
  transition: all .2s ease;
}

.nav-footer-center {
  min-height: unset;
}

.navbar-logo {
  max-height: 2em;
}

.navbar-dark .navbar-brand:hover {
  color: $component-active-color;
}

.about-entity #title-block-header.quarto-title-block.default .quarto-title .title:hover {
  color: $primary;
  text-shadow: 0 0 10px $primary;
}

.navbar {
  letter-spacing: 0.1em;
  background-color: $medium;
}

.navbar .nav-item {
  text-transform: uppercase;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .2s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  border-top: .1em solid $crust;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
}

.navbar-nav a.nav-link:after {
  border-top: .1em solid $component-active-color;
}

.navbar-nav a.nav-link:hover:after {
  border-top: .1em solid $component-active-color;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: $component-active-color;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.navbar-nav a.nav-link.active:after {
  border-top: .2em solid $component-active-color;
}
.navbar-nav a.nav-link.active:hover:after {
  border-top: .2em solid $component-active-color;
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active {
  font-weight: bolder;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: $component-active-color;
}

a {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
}

p a {
  text-decoration: underline;
}

.navbar-title {
  transition: all .2s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .2s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $component-active-color;
  border-right: 3px solid $component-active-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $component-active-color;
  border-left: 3px solid $component-active-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $component-active-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $component-active-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: $medium;
}

.listing-description {
  color: $link-color;
}

.modal-content {
  background-color: $mantle;
  color: $text;
}

.modal-content .btn-close{
  color: $primary;
  background-color: $text;
}

div.sourceCode {
  background-color: $body-bg;
}

div.quarto-post .listing-categories .listing-category {
  color: $link-color;
  border: solid 1px $body-color;
}

.page-item.active .page-link {
  color: $body-bg;
}

.page-item.disabled .page-link {
  color: $body-color;
}

.page-link:hover {
  color: $body-bg;
}
