/*-- scss:uses --*/

/*-- scss:defaults --*/

$font-family-sans-serif: "Roboto";
$font-family-monospace: "Fira Mono";
$bs-body-font-family: "Roboto";
$web-font-path: "No";

// chaos & calm
$calm: #2f5b2a;
$calm-light: #518f3d;
$chaos: #482b74;
$chaos-light: #6f4690;

// catppuccin
$sapphire: #74c7ec;
$text: #000000;
$blue: #89b4fa;
$subtext1: #DDD;
$base: #DDD;
$mantle: $calm;
$crust: #11111b;

$primary: $text !default;
$secondary: $base !default;
$success:       $calm !default;
$info:          $sapphire !default;

$body-bg: $base !default;
$body-color: $primary !default;
$link-color: $calm !default;
$link-hover-color: $calm-light !default;
$component-active-color: $calm-light !default;
$medium: $mantle !default;
$card-color: $body-color !default;
$card-bg: $body-bg !default;
$card-border-color: $body-color !default;
$navbar-fg: $subtext1;


/*-- scss:rules --*/

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgK_7SodY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgIv7SodY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgKv7SodY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgJf7SodY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgKP7SodY.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/N0bX2SlFPv1weGeLZDtgJv7S.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


// custom
div.quarto-about-jolla main {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: $body-color;
}

a {
  transition: all .2s ease;
}

.nav-footer-center {
  min-height: unset;
}

.navbar-logo {
  max-height: 2em;
}

.about-entity #title-block-header.quarto-title-block.default .quarto-title .title:hover {
  color: $primary;
  text-shadow: 0 0 10px $primary;
}

.navbar {
  letter-spacing: 0.1em;
  background-color: $medium;
}

.navbar .nav-item {
  text-transform: uppercase;
}

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .2s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  border-top: .1em solid $crust;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
}

.navbar-nav a.nav-link:after {
  border-top: .1em solid $component-active-color;
}

.navbar-nav a.nav-link:hover:after {
  border-top: .1em solid $component-active-color;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: $component-active-color;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.navbar-nav a.nav-link.active:after {
  border-top: .2em solid $component-active-color;
}
.navbar-nav a.nav-link.active:hover:after {
  border-top: .2em solid $component-active-color;
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active {
  font-weight: bolder;
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active {
  color: $component-active-color;
}

div.nav-footer {
  border-color: $body-color;
}

a {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
}

p a {
  text-decoration: underline;
}

.navbar-title {
  transition: all .2s ease;
  display: inline-block;
  padding: .25em .4em;
  position: relative;
  font-weight: bolder;
}

.navbar-title::before,
.navbar-title::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .2s ease;
  opacity: 0;
}

.navbar-title::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid $component-active-color;
  border-right: 3px solid $component-active-color;
  transform: translate(-100%, 50%);
}

.navbar-title:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid $component-active-color;
  border-left: 3px solid $component-active-color;
  transform: translate(100%, -50%)
}

.navbar-title:hover:before,
.navbar-title:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.quarto-title-banner .quarto-title .title {
  color: $component-active-color;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: $component-active-color;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: $body-color;
  background: $medium;
}

.listing-description {
  color: $link-color;
}

div.sourceCode {
  background-color: $body-bg;
}

p code:not(.sourceCode) {
  color: $body-color;
  background-color: transparent;
}

div.quarto-post .listing-categories .listing-category {
  color: $link-color;
  border: solid 1px $body-color;
}

.page-item.active .page-link {
  color: $body-bg;
}

.page-item.disabled .page-link {
  color: $body-color;
}

.page-link:hover {
  color: $body-bg;
}

.links {
  width: 90%;
  margin: 0 auto;
}

.links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.links ul {
  list-style: none;
}

.bi::before {
  margin-right: 0.2em;
}

